.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
# ignore raw data and script outputs
kallisto/
results/
lookups/
meta.csv
peri-anno-definitions.tsv
03_cluster_analysis-full.Rmd
05_mahalanobis_distance_rough_full.Rmd